In [3]:
x=5
x

5

In [ ]:
list_one=[1,2,3,4,"amit","learning",True,["ml","dl","ds"]]
list_one[4]=0
print(list_one)
x=list_one.pop()
x

[1, 2, 3, 4, 0, 'learning', True, ['ml', 'dl', 'ds']]

In [7]:
y=list("amit")
y

['a', 'm', 'i', 't']

In [ ]:
info=["mo","atef"]
num=["012"]
age=["29"]
national=["egy"]
info.append(num)
info.append(age)
info.append(national)
name=["m","o"]
info.extend(name)
z=["zaq","zaq"]
info.insert(0,z)
info.pop()
info

[['zaq', 'zaq'], 'mo', 'atef', ['012'], ['29'], ['egy'], 'm']

In [2]:
list_one=["amit","learning","python"]
del list_one[0]
print(list_one)

['learning', 'python']

In [70]:
num1=float(input('inter firist num'))
num2=float(input('insert secound num'))

print("mohamedatef")
print(f"sum:{num1+num2}")
print(f"mul:{num1*num2}")
print(f"sub:{num1-num2}")
print(f"div:{num1/num2}")

mohamedatef
sum:120.0
mul:2000.0
sub:80.0
div:5.0

In [55]:
set1={"amit","ai"}
y=set(set1)
y

{'ai', 'amit'}

In [62]:
dictionary_one={"k1":12.5,"k2":"value","k3":"value2",4:[1,2,3,4,5]}
print(dictionary_one["k2"])

value

In [71]:
a=200
b=33
if b>a:
    print("b is greater")
elif a==b:
    print("equal")
else:
    print("a is greater")

a is greater

In [78]:
x=5
y=10
if (x > 0) and (y > 0):
    print("both are positive")

both are positive

In [79]:
age=15
if (age <18) or (age>=65):
    print("asa")

asa

In [87]:
degree=float(input('inter student degree'))

if (degree>90) and (degree<100):
    print("a")
elif (degree>80) and (degree<90):
    print("b")
elif (degree>70) and (degree<80):
    print("c")
elif (degree>60) and (degree<70):
    print("d")
elif (degree>0) and (degree<60):
    print("f")
else:
    print("not valid")

not valid

In [94]:
x=float(input("please insert the date"))
if x==(551996):
    print("HPD Reemo") 
else:
    print("not reem")

not reem

In [99]:
x=["a","b","c","d","5"]
item=input("enter the value")
x.remove(item)
print(f"out put = {x}")

out put = ['a', 'b', 'c', 'd']

In [ ]:
mail=list(input("enter your mail"))
if ("@" in mail):
    print()

print(type(mail))
print(mail)

<class 'list'>
['d', 'f', 'g', 'h', 'n']

In [10]:
name="ali"
age=14
salary=10000

s="my name is {} \n and age is {} \n and salary is {} ".format(name,age,salary)
s

'my name is ali \n and age is 14 \n and salary is 10000 '

In [13]:
for x in "amit":
    print("welcome")
else:
    print("done")

welcome
welcome
welcome
welcome
done

In [23]:
for i in range(6):
    if i==3:
        print("three")
        continue
      
    print(i)

0
1
2
three
4
5

In [24]:
x=10
while x>2:
    print("mody")
    x-=1

mody
mody
mody
mody
mody
mody
mody
mody

In [44]:

num1=float(input("enter num1"))
num2=float(input("enter num2"))
def calc(num1,num2):
  z=num1+num2
  return z
print(calc)

<function calc at 0x0000023DFD8D5BC0>

In [36]:
def function1 (x,y):
    print(f"first num is {x} and secound num is {y}")
    
function1(4,5)

first num is 4 and secound num is 5

In [47]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# عكس القائمة
print(my_list[::-1])  # النتيجة: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# استخراج العناصر من الفهرس 6 إلى الفهرس 2 (بخطوة سالبة)
print(my_list[6:2:-1])  # النتيجة: [6, 5, 4, 3]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[6, 5, 4, 3]

In [52]:
x=input("enter your email")
y=x.find("@")
print(y)

1

In [ ]:
mail=input("enter your mail")
if ("@" in mail) and ("." in mail) and mail.index("@")<mail.index("."):
    print ("valid mail") 
    print (mail[:mail.index("@")])
    print (mail[mail.index("@")+1:mail.index(".")])
    if (mail[mail.index(".")+1:]=="com"):
        print("commercial domain")
    elif(mail[mail.index(".")+1:]=="edu"):
        print("educational domain")
    else:
        print ("other domain")
        
else:
     print("invalid mail")

valid mail
mohamedatef370
gmail
commercial domain

In [ ]:
x=[500,8,96,6,58,258,32,25,65]
min=x[0]
for num in x:
    if (num<min):
        min=num
       
print(f"min is : {min}")

min is : 6

In [19]:
x=[500,8,96,6,58,258,32,25,65]
total=0
for num in x:
    total=total+num
print(f"total is :{total}")

total is :1048

In [21]:
tuple1=("my","mohamed","atef","muhammad")
list1=list(tuple1)
revers_list=list1[-1::-1]
revers_tuple=tuple(revers_list)
print(revers_list)

['muhammad', 'atef', 'mohamed', 'my']

In [28]:
listed_tuples=[(1,2),("mohamed"),(3,4),(4,5,6)]
for tuples in listed_tuples:
    out_tuple=tuple(tuples)
    print(out_tuple)

(1, 2)
('m', 'o', 'h', 'a', 'm', 'e', 'd')
(3, 4)
(4, 5, 6)

In [31]:
def square(x):
    return x ** 2
print(square(4))

16

In [33]:
z=lambda x:x**2
print(z(8))

64

In [ ]:
def function_1(n):
    return lambda a:a*n
function_2=function_1(2)
print(function_2(11))

22

In [43]:
list1=[1,2,3,4,5,6,7,8,9,10]
def even_and_odd_detector(list1):
    return 
for num in list1:
        if num % 2!=0:
            print(f"{num}is odd")
        else:
            print(f"{num}is even")

1is odd
2is even
3is odd
4is even
5is odd
6is even
7is odd
8is even
9is odd
10is even

In [45]:
list1=[1,2,3,4,5,6,7,8,9,10]
list_sum=1
for num in list1:
    list_sum=list_sum*num
print(list_sum)

3628800

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
def list_mul(list1):
    x=1
    for num in list1:
        x=x*num
        return x
print(list_mul(list1))

In [52]:
def fun (x):
    if x<=1:
        return x
    return x+fun(x-1)
print(fun(5))

15