In [3]:
x=5
x

5

In [ ]:
list_one=[1,2,3,4,"amit","learning",True,["ml","dl","ds"]]
list_one[4]=0
print(list_one)
x=list_one.pop()
x

[1, 2, 3, 4, 0, 'learning', True, ['ml', 'dl', 'ds']]

In [7]:
y=list("amit")
y

['a', 'm', 'i', 't']

In [ ]:
info=["mo","atef"]
num=["012"]
age=["29"]
national=["egy"]
info.append(num)
info.append(age)
info.append(national)
name=["m","o"]
info.extend(name)
z=["zaq","zaq"]
info.insert(0,z)
info.pop()
info

[['zaq', 'zaq'], 'mo', 'atef', ['012'], ['29'], ['egy'], 'm']

In [2]:
list_one=["amit","learning","python"]
del list_one[0]
print(list_one)

['learning', 'python']

In [70]:
num1=float(input('inter firist num'))
num2=float(input('insert secound num'))

print("mohamedatef")
print(f"sum:{num1+num2}")
print(f"mul:{num1*num2}")
print(f"sub:{num1-num2}")
print(f"div:{num1/num2}")

mohamedatef
sum:120.0
mul:2000.0
sub:80.0
div:5.0

In [55]:
set1={"amit","ai"}
y=set(set1)
y

{'ai', 'amit'}

In [62]:
dictionary_one={"k1":12.5,"k2":"value","k3":"value2",4:[1,2,3,4,5]}
print(dictionary_one["k2"])

value

In [71]:
a=200
b=33
if b>a:
    print("b is greater")
elif a==b:
    print("equal")
else:
    print("a is greater")

a is greater

In [78]:
x=5
y=10
if (x > 0) and (y > 0):
    print("both are positive")

both are positive

In [79]:
age=15
if (age <18) or (age>=65):
    print("asa")

asa

In [87]:
degree=float(input('inter student degree'))

if (degree>90) and (degree<100):
    print("a")
elif (degree>80) and (degree<90):
    print("b")
elif (degree>70) and (degree<80):
    print("c")
elif (degree>60) and (degree<70):
    print("d")
elif (degree>0) and (degree<60):
    print("f")
else:
    print("not valid")

not valid

In [94]:
x=float(input("please insert the date"))
if x==(551996):
    print("HPD Reemo") 
else:
    print("not reem")

not reem

In [99]:
x=["a","b","c","d","5"]
item=input("enter the value")
x.remove(item)
print(f"out put = {x}")

out put = ['a', 'b', 'c', 'd']

In [ ]:
mail=list(input("enter your mail"))
if ("@" in mail):
    print()

print(type(mail))
print(mail)

<class 'list'>
['d', 'f', 'g', 'h', 'n']

In [10]:
name="ali"
age=14
salary=10000

s="my name is {} \n and age is {} \n and salary is {} ".format(name,age,salary)
s

'my name is ali \n and age is 14 \n and salary is 10000 '